.git
.github
.idea
.venv
.vscode
.aider*
.gcp_keys
.aws-sam
.air.toml
.env
.env.*
.gitignore
.golangci.yml
.dockerignore
bin/
tmp/
hack/
test.py
coverage.out
*.md
docker-compose.yml
Makefile
llms.ipynb
